* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
  }
  
.video {
    width: 100%;
    /* height: 112vh; */
}

.content {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 50px;
    right: 50px;
    background: rgba(40, 35, 48, 0.5);
    color: #181717;
    width: 100%;
    padding: 20px;
    height: 90vh;
  }

.container-fluid {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

.feature {
    background-color: rgb(240, 240, 240); 
    width: 65%;
    padding: 20px;
    height: 90vh;
}

.flex-container{
    display: flex;
}

.empty {
    width: 35%;
    font-size: 5rem;
    color: rgb(226, 226, 226); 
    font-weight: 600;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-display {
    height: 93%;
    overflow-y: scroll;
}

.feature-form  {
    display: flex;
    justify-content: space-around;
    font-family: cursive;
}

.feature-form input {
    width: 70%;
}

.message__name {
    font-weight: 600;
    font-size: 1rem;
}

.message__meta {
    font-weight: 300;
    font-size: .7rem;
}

p {
    margin-bottom: 1px;
}

.chat {
    color: rgb(110, 102, 102);
}

@media screen and ( max-width: 767px) {
    .feature {
        width: 100%;
    }

    .empty {
        width: 0;
    }
}